<div class="etw-px-8 etw-my-8 etw-max-w-xl etw-mx-auto etw-font-sans etw-antialiased">
  <div class='etw-flex justify-between etw-px-6 etw-mt-6'>
    <div class='etw-w-2/3 etw-pr-8'>
      <h1 class='etw-pt-8 etw-text-5xl etw-font-semibold'>Calcite Tailwind</h1>
      <p class='etw-mt-1 etw-mb-8 etw-text-lg etw-text-grey-darker'>A companion reference for every generated class available in the app.</p>

      {{etw/module-section
        title='Border radius'
        codeSnippets=(array '.rounded{-side?}{-size?}')
        moduleStyles=moduleStyles.borderRadius}}

      {{etw/module-section
        title='Border'
        codeSnippets=(array '.border{-side?}{-width?}')
        moduleStyles=moduleStyles.borderWidths}}

      {{etw/module-section
        title='Color'
        codeSnippets=(array '.text-{color}' '.bg-{color}' '.border-{color}')
        moduleStyles=moduleStyles.colors}}

      {{etw/module-section
        title='Font weight'
        codeSnippets=(array '.font-{weight}')
        moduleStyles=moduleStyles.fontWeights}}

      {{etw/module-section
        title='Height'
        codeSnippets=(array '.h-{size}')
        moduleStyles=moduleStyles.height}}

      {{etw/module-section
        title='Letter spacing'
        codeSnippets=(array '.tracking-{size}')
        moduleStyles=moduleStyles.letterSpacing}}

      {{etw/module-section
        title='Line height'
        codeSnippets=(array '.leading-{size}')
        moduleStyles=moduleStyles.lineHeight}}

      {{etw/module-section
        title='Margin'
        codeSnippets=(array '.m{side?}-{size}')
        moduleStyles=moduleStyles.margin}}

      {{etw/module-section
        title='Max height'
        codeSnippets=(array '.max-h-{size}')
        moduleStyles=moduleStyles.maxHeight}}

      {{etw/module-section
        title='Max width'
        codeSnippets=(array '.max-w-{size}')
        moduleStyles=moduleStyles.maxWidth}}

      {{etw/module-section
        title='Min height'
        codeSnippets=(array '.min-h-{size}')
        moduleStyles=moduleStyles.minHeight}}

      {{etw/module-section
        title='Min width'
        codeSnippets=(array '.min-w-{size}')
        moduleStyles=moduleStyles.minWidth}}

      {{etw/module-section
        title='Negative margin'
        codeSnippets=(array '.-m{side?}-{size}')
        moduleStyles=moduleStyles.negativeMargin}}

      {{etw/module-section
        title='Opacity'
        codeSnippets=(array '.opacity-{name}')
        moduleStyles=moduleStyles.opacity}}

      {{etw/module-section
        title='Padding'
        codeSnippets=(array '.p{side?}-{size}')
        moduleStyles=moduleStyles.padding}}

      {{etw/module-section
        title='Shadow'
        codeSnippets=(array '.shadow-{size?}')
        moduleStyles=moduleStyles.shadows}}

      {{etw/module-section
        title='SVG fill'
        codeSnippets=(array '.fill-{name}')
        moduleStyles=moduleStyles.svgFill}}

      {{etw/module-section
        title='SVG stroke'
        codeSnippets=(array '.stroke-{name}')
        moduleStyles=moduleStyles.svgStroke}}

      {{etw/module-section
        title='Text size'
        codeSnippets=(array '.text-{size}')
        moduleStyles=moduleStyles.textSizes}}

      {{etw/module-section
        title='Width'
        codeSnippets=(array '.w-{size}')
        moduleStyles=moduleStyles.width}}

      {{etw/module-section
        title='Z index'
        codeSnippets=(array '.z-{index}')
        moduleStyles=moduleStyles.zIndex}}

    </div>

    <div class='etw-w-64 etw-relative flex justify-end'>
      {{etw/module-style-detail}}
    </div>
  </div>
</div>
